
@import "https://fonts.googleapis.com/css?family=Montserrat";

* {
    margin: 0;
    padding: 0;
}

footer {
    background: #9900cc;
    display: flex;
    width: 100%;
    height: 5%;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    font-size: 100%;
    color: white;
    font-family: Montserrat;
}

.main{
    align-items: center;
    width: 100%;
    height: 100%;
    display: flex;
    background-size: cover;
    background-attachment: fixed;
}

header a{
    color: white;
}

div.container{
    margin-left: 380px;
}

.gradient-custom {
    background: #9900cc;

}

.formulari {
    text-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    display: flex;
    background-size: cover;
    background-attachment: fixed;
}

.w3-padding-32 {
    width: 100%;
    height: 100%;
    text-align: center;
}

.body{
    background: #9900cc;
    color: white;
    text-align: center;
    width: 100%;
    height: 100%;
}

.container-index{
    margin-top: 5%;
    margin-left: 39%;
    width: 25%;
    height: 25%;
    align-items: center;
    display: grid;
    grid-gap: 50%;
}

.m_text_content {
    font-size: x-small;
    color: white;
    margin-left: 20%;
    margin-right: 20%;
}
